@import './themes/default.css';
@import './themes/grafana.css';

.App {
  text-align: center;
  padding: 20px;
}

.version-selector-and-theme-switcher-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

