.App {
  text-align: center;
  padding: 20px;
}

.search-bar {
  width: 50%;
  padding: 12px 20px;
  margin: 8px auto 20px auto; /* Center the search bar and add bottom margin */
  box-sizing: border-box;
  border: 1px solid #555;
  border-radius: 4px;
  background-color: #2a2a2a;
  color: white;
  display: block; /* Make it a block element to apply margin: auto */
}

.library-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px 0;
}

.library-card {
  background-color: #2a2a2a; /* Dark card background */
  border: 1px solid #444; /* Darker border */
  border-radius: 8px;
  padding: 20px;
  text-align: left;
  display: flex;
  flex-direction: column;
  color: rgba(255, 255, 255, 0.87); /* Light text color */
}

.library-card a {
  text-decoration: none;
  color: #82aaff; /* Use the global link color from index.css */
}

.library-card a:hover {
  color: #a0c3ff;
}


.library-card h2 {
  margin-top: 0;
  color: #fff; /* White heading */
}

.semconv-tags {
  margin-top: auto;
  padding-top: 15px;
}

.semconv-tag {
  display: inline-block;
  background-color: #333; /* Darker tag background */
  color: #ccc; /* Lighter tag text */
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 5px;
  font-size: 12px;
}

.filter-buttons {
  margin-bottom: 20px;
}

.filter-buttons button {
  background-color: #333;
  color: white;
  border: 1px solid #555;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 5px 10px 0;
  font-size: 14px;
}

.filter-buttons button.active {
  background-color: #82aaff;
  color: #1a1a1a;
  border-color: #82aaff;
}
